# =========================
# Build / binaries
# =========================
*.out
*.bin

# =========================
# Images (input / output)
# =========================
*.png
*.jpg
*.jpeg
*.webp

# =========================
# Documents
# =========================
*.docx
*.pdf
*.txt

# =========================
# Logs
# =========================
*.log

# =========================
# OS / editor bordel
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / cache
# =========================
tmp/
temp/